* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;

background: rgba(99,28,245,0.99) url("https://cdn.imgbin.com/12/7/8/imgbin-hefty-smurf-brainy-smurf-gutsy-smurf-clumsy-smurf-papa-smurf-baby-smurf-smurf-illustration-MbU8sUHcBHtFYFfXxVRzpVdBU.jpg") repeat fixed 0% 50%;}

.App {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

.Smurfin {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

h2 {

  font-size: 30px;
  color: #FFFFFF;

  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.Smurfs {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: space-evenly;
}

.Smurf {
  box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.75);
  width: 200px;
  padding: 5%;
  border-radius: 5%;
  border: 23px double #1C6EA4;
border-radius: 6px;
  margin-top: 7%;
background: linear-gradient(to bottom, #DDFBFF 0%, #1C6EA4 72%, #B29BC5 100%);

}

.smurf-logo {
  margin-top: 2%;
  width: 250px;
  height: 100px;
}

.input {
  box-shadow: inset 2px 1px 1px 2px black;
}

.abutton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.abutton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.abutton:active {
  position: relative;
  top: 1px;
}

input {
  outline: none;
  background-color: #fff;
  font-size: 21px;
  height: 50px;
  width: 300px;
  padding: 0 8px;
  color: #1c5d76;
  margin-bottom: 2%;
  border-radius: 5%;
}

.myButton-form {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #6f87d7 5%, #c5d4d9 100%);
  background-color: #6f87d7;
  border-radius: 6px;
  border: 1px solid #9ea1db;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #748adb;
}

.myButton-form:hover {
  background: linear-gradient(to bottom, #c5d4d9 5%, #6f87d7 100%);
  background-color: #c5d4d9;
}

.myButton-form:active {
  position: relative;
  top: 1px;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
}
